<h1>Create Portfolio</h1>

<%= link_to "Volver", portfolios_path %>

<%= form_with(model: @portfolio) do |form| %>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>
  
  <div>
    <%= form.label :subtitle, style: "display: block" %>
    <%= form.text_field :subtitle %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <ul>
      <% form.fields_for :technologies %>
        <li><%= form.check_box :technologies, technology.name %> <%= technology.name %></li>
      <% end %>
    </ul>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
