<h1>Show <%= @portfolio.title %></h1>

<%= link_to "Volver", portfolios_path %>

<%= render @portfolio %>
<%# <%= render partial: 'portfolio_name', collection: @portfolio_name %> %>

<h2>Technologies used:</h2>

<% @portfolio.technologies.each do |tech| %>
    <p><%= tech.name %></p>
<% end %>

<hr>

<%= params.inspect %>

<hr>

<%= session.inspect %>


<%= link_to "Edit", edit_portfolio_path(@portfolio.id) %>